body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.btn {
  border: none;
  background: none;
  display: none;
}

.sectionContainer:hover .btn,
.courseContainer:hover .btn {
  display: block;
}

.App,
.pathContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.courseContainer,
.sectionContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  width: 400px;
}

.sectionContainer {
  font-weight: bold;
}
